

#nav{
    background-color: var(--light);
}

#nav button{
    border: none;
    background-color: transparent;
    padding: 4px 8px;
    width: 20vw;
    text-align: left;

    font-size: 1.1rem;
}

#nav button:hover,
#nav [data-clicked]{
    cursor: pointer;
    font-size: 1.11rem;
    background-color: var(--lighter);
    transition: var(--transition);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}