

#nav{
    background-color: var(--light);
}

#nav>button,
#nav li button{
    border: none;
    background-color: transparent;
    padding: 4px 8px;
    width: 20vw;
    text-align: left;

    font-size: 1.1rem;
}

#nav>button:hover,
#nav li button:hover,
#nav [data-clicked]{
    cursor: pointer;
    font-size: 1.11rem;
    background-color: var(--lighter);
    transition: var(--transition);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

#new-project-form{
    background-color: var(--lighter);
}

/* #new-project-form input{
    background-color: transparent;
    border: none;
}

#new-project-form input:focus{
    outline: none;
} */