:root{
    --dark: #333;
    --light: #777;
    --lighter: #aaa;

    --transition: 200ms;
}

body{
    margin: 0;
    padding: 0;

    background-color: #444;
}

#content{
    min-height: 100vh;

    display: grid;
    grid-template-rows: 5vh auto 5vh;
    grid-template-columns: 20vw 80vw;
}

#header,
#footer{
    min-height: 5vh;

    grid-column: 1 / -1;
}

#nav,
#main-content{
    min-height: 90vh;
}

